* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* color-scheme: light dark;
  --bg-color: light-dark(#f0efe7, #0b0433);
  --bg-content: light-dark(#fff, #3a3458);
  --text-color: light-dark(black, white);
  --active-bg: light-dark(#bbb, #3dcac8); */
  --section-padding: 25px;
}
[data-theme="light"] {
  --bg-color: #f0efe7;
  --bg-content: #fff;
  --text-color: balck;
  --active-bg: #3dcac8;
}

[data-theme="dark"] {
  --bg-color: #0b0433;
  --bg-content: #3a3458;
  --text-color: white;
  --active-bg: #3dcac8;
}
summary {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.container {
  padding-top: 50px;
}
.first-padding {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
}
body {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
}
.header-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: var(--card-width, 50%);
  margin: auto;
  background-color: var(--bg-content);
  border-radius: 10px;
  padding: 10px;
}

.content:is(.full-width) {
  --card-width: 90%;
}
a {
  text-decoration-color: var(--active-bg);
  color: var(--text-color);
}
/* Mobile users */
@media (max-width: 600px) {
  .content {
    width: 98%;
  }
}

/* Tablet users */
@media (min-width: 601px) and (max-width: 1024px) {
  .content {
    width: 80%;
  }
}
ul {
  padding-left: 10px;
}
ul li {
  list-style: number;
  list-style-position: inside;
  font-size: 18px;
}

.details-content {
  background-color: var(--bg-color);
  color: var(--text-color);
}
span.link {
  color: blue;
}
/* after before start */
summary {
  position: relative;
  text-align: center;
  color: var(--text-color);
}
summary::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  text-align: center;
  right: 1%;
  top: 50%;
}
summary::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #000;
  position: absolute;
  text-align: center;
  left: 1%;
  top: 50%;
}
details:open summary::before,
details:open summary::after {
  background-color: var(--active-bg);
}
/* after before end */
.css {
  width: 80vw;
  margin: auto;
  /* background-color: aliceblue; */
  padding: 2.25rem;
  color: var(--text-color);
}
.css h2 {
  text-align: center;
}
.list ul li {
  list-style: decimal;
  font-size: 1.125rem;
  font-weight: bold;
}
.next_learning {
  background-color: aqua;
  padding: 40px;
  margin: auto;
}

nav {
  flex-grow: 2;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 10px;
  position: relative;
  width: max-content;
  font-size: 18px;
  &:hover {
    background-color: var(--active-bg);
    border-radius: 6px;
  }
}
/* nav a:hover::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--active-bg);
  position: absolute;
  bottom: 0;
  left: 0;
} */

header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  padding-top: 2rem;
}
nav [aria-current="page"] {
  background-color: var(--active-bg);
  color: #fff;
  border-radius: 6px;
}
pre {
  overflow: scroll;
  /* background-color: rgb(0, 0, 0, 0.5); */
  background-color: #00000047;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.gap {
  gap: 5px;
}
a.active {
  color: tomato;
}

a.finished {
  color: #8484cd;
}
details:open summary {
  color: var(--active-bg);
}
/* Switcher design */
.switcher {
  width: 3.5em;
  height: 2em;
  display: inline-block;
  position: relative;
  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
.toggle {
  background-color: #313131;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  bottom: 8px;
}
.toggle::after {
  content: "";
  height: 1.4em;
  width: 1.4em;
  position: absolute;
  background-color: #313131;
  box-shadow: inset 5px -5px 0px 0px #fff;
  border-radius: 50%;
  top: 4px;
  transition: 0.3s;
  left: 5px;
}
.switcher input:checked + .toggle {
  background-color: #696262;
}
.switcher input:checked + .toggle::after {
  transform: translateX(100%);
  box-shadow: inset 25px -5px 0px 0px #fff;
}
.right {
  flex-grow: 1;
  text-align: center;
}
.image img,.element_img {
  width: 100%;
  object-fit: cover;
}
